


body{
    background-image: url('../images/abstract-vector-hi-speed-internet-technology-background-illustration-innovation-57092392.jpg');
	background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
   
    color: rgb(207, 193, 193);
    font-family: 'Montserrat', sans-serif;
  
}
.mb-4{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    -webkit-box-shadow: -12px -7px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px -7px 13px 0px rgba(0,0,0,0.75);
    box-shadow: -12px -7px 13px 0px rgba(0,0,0,0.75); 
     border-radius: .3em;
}


.mb-3{
    
    background-color: #14180e;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
   
    
}
 form{
    
    padding-top: 90px;
    
}

.title{
    font-family: 'Lato';
}
.form-control {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #ebe5e5;
    border-bottom: 1px solid #e8dede;
}



.form-label{
   
    justify-content: center;
    width: 450px;
   
}

.mb-3 .btn-primary{
    width: 100%;
    background-color: #b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    font-size: 1em;
    letter-spacing: .1em;
    border-radius: .3em;
   

}   
