body{
  background-image: url("../images/fondopesos.jpg");  
  
}

  .titulo {
	text-align: center;
    color:white;
}
.info{
    width: 1000px;
    height: 60px;
  text-align: center;
  font-size: 30px;
  color:rgb(40, 7, 138);

}
#cont-boton{
    padding-top:40px;
    padding-left:45%;
}
.box1{
  background-color:white ; 


}
#h2{
  font-size: 25px;
  color:rgb(170, 170, 23);


}
.dropdown-menu .dropdown-item{
   
  font-size: 17px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Signika Negative', sans-serif;
  
 

  }
  .navbar-expand-lg .container-fluid  .navbar-collapse .navbar-nav  .dropdown-toggle:hover{
    cursor: pointer;
 background: #707068;
 display: block !important;
}
 /* Bootstrap : Hacer que el dropdown se despliegue al pasar el mouse */
.dropdown:hover .dropdown-menu {
  background-color: rgb(108, 110, 113);
  display: block !important;
}
.dropdown-menu .dropdown-item:hover {
 
  font-weight:bold;
  text-decoration: underline;
  text-decoration-color: rgb(213, 85, 85);
}