body{
  background-image: url("../images/fondopesos.jpg");  
  
}

  .titulo {
	text-align: center;
    color:white;
}
.info{
    width: 1000px;
    height: 60px;
  text-align: center;
  font-size: 30px;
  color:rgb(40, 7, 138);

}
#cont-boton{
    padding-top:40px;
    padding-left:45%;
}
.box1{
  background-color:white ; 


}
#h2{
  font-size: 25px;
  color:rgb(170, 170, 23);


}
nav .menu li a{

  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Signika Negative', sans-serif;
  font-size: 0.9em;

  }


/* Bootstrap : Hacer que el dropdown se despliegue al pasar el mouse */
.dropdown:hover .dropdown-menu {
  display: block !important;
}

 