body { 
    background: url(../images/490x_ahorrar-istock.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
  .enum{
  padding-left: 60px;
  color: rgb(32, 2, 2);
  font-family:sans-serif;  
  }

.titulo {
	text-align: center;
    color:rgb(30, 17, 17);
}
#cont-boton{
    padding-top:40px;
    padding-left:10%;
}
.logo{
    text-align: center;
    font-size: 3em;
}
.logo span {
    color: #b70e21;
}
form{

    padding: 10px;
}
.fecha{

 align-items: center;
}

.contact-form form p{
    margin: 0;
  
    max-width: 900px;
}

.noborder{
    background-color: transparent;
    color: #e41111;
    width: 250px;
    font: size 15px;
    border:0;
    }
    .div_2 {
        
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
    }
    .contact-wrapper {
        background: rgba(  900 , 190 , 5, 0.40);
    
        box-shadow: 0 0 20px 0 rgba(216, 55, 55, 0.3);
        
    }
    
    .contact-wrapper > * {
        padding: 1em;
    }
   .contact-form .btn-primary{

    background-color: #b70e21;
    
   }
   .dropdown-menu .dropdown-item{
   
    font-size: 17px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Signika Negative', sans-serif;
   
  
    }
   /* Bootstrap : Hacer que el dropdown se despliegue al pasar el mouse */
.dropdown:hover .dropdown-menu {
    background-color: rgb(108, 110, 113);
    display: block !important;
}
.dropdown-menu .dropdown-item:hover {
   
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color: rgb(213, 85, 85);
  }